extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      a.btn.btn-default.btn-primary(type='button', href='../achievements/index') Achievements
      a.btn.btn-default(type='button', href='../prizes/index') Prizes
      a.btn.btn-default(type='button', href='../fanMatches/index') Fan Matches
      a.btn.btn-default(type='button', href='../fanDuties/index')  Fan Duties
      a.btn.btn-default(type='button', href='../fanLevels/index') Fan Levels
      a.btn.btn-default(type='button', href='../fanMotos/index') Fan Motos
      a.btn.btn-default(type='button', href='../fanProfiles/index') Fan Profiles
  #jsGrid

block scripts
  script(src='/javascripts/achievements.js') 
  #data.hidden-data
    #cloudinaryJson
      =cloudinary
    #achievementsJson
      =achievements
