extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      a.btn.btn-default(type='button', href='../articles/index') Articles
      a.btn.btn-default(type='button', href='../polls/index') Polls
      a.btn.btn-default(type='button', href='../trivias/index') Trivias
      a.btn.btn-default(type='button', href='../teamSeasons/index')  Team Seasons
      a.btn.btn-default(type='button', href='../teamMatches/index') Team Matches
      a.btn.btn-default(type='button', href='../keywords/index') Keywords
  #jsGrid

block scripts
  script(src='/javascripts/articles.js') 
  #data.hidden-data
    #cloudinaryJson
      =cloudinary
    #articlesJson
      =articles