extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      a.btn.btn-default(type='button', href='../achievements/index') Achievements
      a.btn.btn-default(type='button', href='../prizes/index') Prizes
      a.btn.btn-default(type='button', href='../fanMatches/index') Fan Matches
      a.btn.btn-default(type='button', href='../fanDuties/index')  Fan Duties
      a.btn.btn-default(type='button', href='../levels/index') Levels
      a.btn.btn-default(type='button', href='../fanMotos/index') FAn Motos
      a.btn.btn-default(type='button', href='../profiles/index') Profiles
  #jsGrid

block scripts
  script(src='/javascripts/fanMotos.js') 
  #data.hidden-data
    #cloudinaryJson
      =cloudinary
    #fanMotosJson
      =fanMotos
    #teamsJson
      =teams
