extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      button.btn.btn-default(type='button') Team Profiles
      button.btn.btn-default(type='button') Staduims
      button.btn.btn-default(type='button') Matches
      button.btn.btn-default(type='button') Season Round
  h1.
    Team Profiles	
  ul
    each team, i in teamprofiles
      li
       = team.name		
