extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      button.btn.btn-default(type='button') Team Profiles
      button.btn.btn-default(type='button') Staduims
      button.btn.btn-default(type='button') Matches
      button.btn.btn-default(type='button') Season Round
  #jsGrid

block scripts
  script(src='/javascripts/jsgrid.js')
  script(src='/javascripts/matches.js')  
  link(rel="stylesheet" href="/stylesheets/jsgrid-theme.css")
  link(rel="stylesheet" href="/stylesheets/jsgrid.css")
  link(rel="stylesheet" href="/stylesheets/jquery-ui.css")
  #data.hidden-data
    #matchesJson
      =matches
    #stadiumsJson
      =stadiums
    #leaguesJson
      =leagues