extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      a.btn.btn-default(type='button', href='../teamprofiles/index') Team Profiles
      a.btn.btn-default(type='button', href='../stadiums/index') Stadiums
      a.btn.btn-default(type='button', href='../matches/index') Matches
      a.btn.btn-default.btn-primary(type='button', href='../seasonRounds/index') Season Rounds
  #jsGrid

block scripts
  script(src='/javascripts/seasonRounds.js') 
  #data.hidden-data
    #cloudinaryJson
      =cloudinary
    #seasonRoundsJson
      =seasonRounds
    #leaguesJson
      =leagues
    #seasonsJson
      =seasons
