extends layout

block content
  h1= title
  .btn-group(role='group', aria-label='...')
      button.btn.btn-default(type='button') Team Profiles
      button.btn.btn-default(type='button') Staduims
      button.btn.btn-default(type='button') Matches
      button.btn.btn-default(type='button') Season Round
  #jsGrid

block scripts
  script(src='/javascripts/teamProfile.js')  
  #data.hidden-data
    #stadiumsJson
      =stadiums
    #leaguesJson
      =leagues
    #teamsJson
      =teams